h1 {
    font-family: 'Joan', serif;
    position: relative;
    display: inline-block;
    margin-top: 60px;
    margin-right: 35px;
}


.three {
    height: 300px;
    background-color: rgb(240, 181, 145);
    margin: 30px;
    text-align: center;
}

.mini {
    height: 30px;
    position: absolute;
    top: 20%;
}

.main {
    background-image: url("black_paw_main.svg");
    background-repeat: no-repeat;
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: relative;
}

.main-image {
    visibility: hidden;
    height: 25%;
    width: 25%;
}

.main-heading, .main-heading-two {
    color: white;
    font-size: 20px;
    font-family: 'Joan', serif;
    margin: 0;
    position: absolute;
    left: 6%;
    bottom: 20%;
}

.main-heading-two {
    left: 13%;
    bottom: 20%;
}

span {
    position: absolute;
    left: 10%;
    bottom: 20%;
    color: white;
}

.mini-two {
    height: 30px;
    position: absolute;
    left: 10%;
    bottom: 20%;
    fill:white;
}

.here {
    background-color: rgb(240, 181, 145);
}

/* .three {
    background-image: url("https://static.thenounproject.com/noun-svg/76186.svg?Expires=1655924608&Signature=K7AEUnoFhTA~RFqR3giSlAUch8F1i2mfwu3g-cbix7IhbE6G7K5cFN75SKSbMvgxLbeHBK7YO338JGQbSGkSujxYQiRM69MZRQ2B7VrFUzrUxcZ1gDlM5cfhOHqnu4AZvFzK0SK5kBb3KnpxppJx8ovwQPBB03AKm5pshInoYew_&Key-Pair-Id=APKAI5ZVHAXN65CHVU2Q");
    background-repeat: none;
    background-size: cover;
    background-color: transparent;
    border: 3px black solid;
} */